body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial;}

h3 {margin: 0px 0px 10px 0px;}

.wrapper { padding: 10px; }
.left {float: left;}
.button {padding: 5px;}

.CodeMirror {border: 1px solid #666;}