<html>
	<head>
        <script type="text/javascript" src="{{ static_url('js/lib/jquery-1.7.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/lib/crafty-min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/game.js') }}"></script>
        <script type="text/javascript">
            var ws_url = {% raw ws_url %};
        </script>
		<style>
			body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial; font-size:20px }
		</style>
	</head>
	<body>
	</body>
</html>
