<html>
	<head>
        <link rel="stylesheet" type="text/css" href="{{ static_url('js/lib/codemirror/codemirror.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}" />

        <script type="text/javascript" src="{{ static_url('js/lib/jquery-1.7.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/lib/codemirror/codemirror.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/lib/codemirror/mode/python.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/lib/crafty-min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/gamec.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('js/game.js') }}"></script>
        <script type="text/javascript">
            var ws_url = '{% raw ws_url %}';
        </script>
	</head>
	<body>
        <div class="wrapper">
            <div id="cr-stage" class="left"></div>
            <div class="score-wrapper">
                <h3>Score:</h3>
                <ul id="score"></ul>
            </div>
            <div style="margin-left: 770px;">
                <h3>Code:</h3>
                <textarea id="code"></textarea>
                <br />
                <input type="submit" value="Run code &raquo;" class="button"/>
            </div>
        </div>
	</body>
</html>
